    <div style="width:100%;height:60px;color:#002B82;position:reletive;padding: 20px 15px;left:0px;border-bottom:2px solid #E2F1FA;" >
        <div style="display:inline-block;line-height:60px;vertical-align:middle;font-size:30px;margin:0px 10px;" class="logo"><!--패딩 30px을 먹어서 line - height 가 30px이 된다.-->
            <a href="/">JobShopper</a>
        </div>
        <div class="headerMenuBox">
            <span style="display:block;"><button class="headerMenu" onclick="window.location.href = '/lecture/CPP/List' "><span>C/C++</span></button></span>
        </div>
        <div style="position:absolute;right:10px;display:inline-block;height:100%;">
            <form class="login_form" action="/login" method="post">
                <input type="text" style="width:200px;margin-right:10px;border-radius:3px;border:1px solid #DEF;padding:4px 6px;" id="idInput" name="idInput" placeholder="Email"/>
                <input type="password" style="width:180px;margin-right:10px;border-radius:3px;border:1px solid #DEF;padding:4px 6px;" id="pwInput" name="pwInput" placeholder="Password"/>
                <button type="submit" class="headerBtn"><span>Sign in</span></button>
            </form>
            <a style="float:right"href="/users/new"><button class="headerBtn"><span>Create account</span></button></a>
        </div>
        <%}%>
    </div>
