hr {
display: block;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
	opacity: 0.35;
}
img {
	border:0;
}
img a:link, img a:visited {
	border:0;
}
a:hover {text-decoration: none !important;}

h1 {margin:0.6rem 0 0.4rem 0} h2 {margin:0.6rem 0 0.4rem 0} h3 {margin:0.6rem 0 0.4rem 0} h4 {margin:0.6rem 0 0.4rem 0} h5 {margin:0.6rem 0 0.4rem 0}
 
 input,  input[type=text] {
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 6px;
    border: solid 1px #dedede;
    outline: 0;
    font: normal 14px/100% Open Sans, sans-serif;
    background: #FFFFFF url('/art/bg_form.png') left top repeat-x;
	border-radius: 1px;
    width: auto;
}
input, input[type=text]:focus{ 
   background: #FFFFFF url('/art/bg_form.png') left top repeat-x;
    border: solid 1px #666;
	border-radius: 1px;
}
input[type=password]{
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    border: solid 1px #666;
    outline: 0;
    font: normal 14px/100% Open Sans, sans-serif;
    background: #FFFFFF url('/art/bg_form.png') left top repeat-x;
	border-radius: 1px;
    width: 92%;
}
input[type=password]:focus{ 
    border: solid 1px #666;
	border-radius: 1px;
}
select{
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    border: solid 1px #666;
    outline: 0;
    font: normal 14px/100% Open Sans, sans-serif;
    background: #FFFFFF url('/art/bg_form.png') left top repeat-x;
	border-radius: 1px;
}
select:focus{ 
    border: solid 1px #666;
	border-radius: 1px;
}
input[type=submit]{
    padding: 7px 9px 7px 9px;
    border: solid 1px #bbb;
    outline: 0;
    font: normal 14px/100% Open Sans, sans-serif;
    font-weight: 600;
    background: #FFFFFF url('/art/bg_form.png') left top repeat-x;
    color: #333;
    cursor: pointer;
}
input[type=submit]:hover{ 
    border: solid 1px #333;
	background: #555;
	color: #fff;
}

.tableDivDisplay {margin:0 auto; display:table} .tableRowDisplay {display:table-row} .tableCellDisplay {display:table-cell}

.vertaligntop { vertical-align:top} .vertalignmiddle { vertical-align:middle} .vertalignbottom { vertical-align:bottom}

.floatright { float:right }
.floatleft { float:left }

.fontlight { font-weight: 300; }
.fontregular { font-weight: 400; }
.fontmedium { font-weight: 500; }
.fontbold { font-weight: 600; }
.fontverdana { font-family: Verdana, sans-serif; }

.pad0 {padding:0}.pad1 {padding:1px} .pad2 {padding:2px} .pad3 {padding:3px} .pad4 {padding:4px} .pad5 {padding:5px} .pad6 {padding:6px} .pad7 {padding:7px} .pad8 {padding:8px} .pad9 {padding:9px} .pad10 {padding:10px} .pad11 {padding:11px} .pad12 {padding:12px} .pad13 {padding:13px} .pad14 {padding:14px} .pad15 {padding:15px} .pad16 {padding:16px} .pad17 {padding:17px} .pad18 {padding:18px} .pad19 {padding:19px} .pad20 {padding:20px} .pad21 {padding:21px} .pad22 {padding:22px} .pad23 {padding:23px} .pad24 {padding:24px} .pad25 {padding:25px} .pad26 {padding:26px} .pad27 {padding:27px} .pad28 {padding:28px} .pad29 {padding:29px} .pad30 {padding:30px} 

.padleft0 {padding-left:0} .padleft1 {padding-left:1px} .padleft2 {padding-left:2px} .padleft3 {padding-left:3px} .padleft4 {padding-left:4px} .padleft5 {padding-left:5px} .padleft6 {padding-left:6px} .padleft7 {padding-left:7px} .padleft8 {padding-left:8px} .padleft9 {padding-left:9px} .padleft10 {padding-left:10px} .padleft11 {padding-left:11px} .padleft12 {padding-left:12px} .padleft13 {padding-left:13px} .padleft14 {padding-left:14px} .padleft15 {padding-left:15px} .padleft16 {padding-left:16px} .padleft17 {padding-left:17px} .padleft18 {padding-left:18px} .padleft19 {padding-left:19px} .padleft20 {padding-left:20px} .padleft25 {padding-left:25px} .padleft30 {padding-left:30px} .padleft35 {padding-left:35px} .padleft40 {padding-left:40px} .padleft45 {padding-left:45px} .padleft50 {padding-left:50px} 

.padright0 {padding-right:0} .padright1 {padding-right:1px} .padright2 {padding-right:2px} .padright3 {padding-right:3px} .padright4 {padding-right:4px} .padright5 {padding-right:5px} .padright6 {padding-right:6px} .padright7 {padding-right:7px} .padright8 {padding-right:8px} .padright9 {padding-right:9px} .padright10 {padding-right:10px} .padright15 {padding-right:15px} .padright16 {padding-right:16px} .padright17 {padding-right:17px} .padright18 {padding-right:18px} .padright19 {padding-right:19px} .padright20 {padding-right:20px} .padright25 {padding-right:25px} .padright30 {padding-right:30px} .padright35 {padding-right:35px} .padright40 {padding-right:40px} .padright45 {padding-right:45px} .padright50 {padding-right:50px} 

.padtop0 {padding-top:0} .padtop1 {padding-top:1px} .padtop2 {padding-top:2px} .padtop3 {padding-top:3px} .padtop4 {padding-top:4px} .padtop5 {padding-top:5px} .padtop6 {padding-top:6px} .padtop7 {padding-top:7px} .padtop8 {padding-top:8px} .padtop9 {padding-top:9px} .padtop10 {padding-top:10px} .padtop15 {padding-top:15px}.padtop20 {padding-top:20px} .padtop25 {padding-top:25px} .padtop30 {padding-top:30px} .padtop35 {padding-top:35px} .padtop40 {padding-top:40px} .padtop45 {padding-top:45px} .padtop50 {padding-top:50px} .padtop55 {padding-top:55px} .padtop60 {padding-top:60px} 

.padbottom0 {padding-bottom:0} .padbottom1 {padding-bottom:1px} .padbottom2 {padding-bottom:2px} .padbottom3 {padding-bottom:3px} .padbottom4 {padding-bottom:4px} .padbottom5 {padding-bottom:5px} .padbottom6 {padding-bottom:6px} .padbottom7 {padding-bottom:7px} .padbottom8 {padding-bottom:8px} .padbottom9 {padding-bottom:9px} .padbottom10 {padding-bottom:10px} .padbottom15 {padding-bottom:15px} .padbottom20 {padding-bottom:20px} .padbottom25 {padding-bottom:25px} .padbottom30 {padding-bottom:30px} 

.margin0 {margin:0} .margin1 {margin:1px} .margin2 {margin:2px} .margin3 {margin:3px} .margin4 {margin:4px} .margin5 {margin:5px} .margin6 {margin:6px} .margin7 {margin:7px} .margin8 {margin:8px} .margin9 {margin:9px} .margin10 {margin:10px} .margin11 {margin:11px} .margin12 {margin:12px} .margin13 {margin:13px} .margin14 {margin:14px} .margin15 {margin:15px} .margin16 {margin:16px} .margin17 {margin:17px} .margin18 {margin:18px} .margin19 {margin:19px} .margin20 {margin:20px} .margin21 {margin:21px} .margin22 {margin:22px} .margin23 {margin:23px} .margin24 {margin:24px} .margin25 {margin:25px} .margin26 {margin:26px} .margin27 {margin:27px} .margin28 {margin:28px} .margin29 {margin:29px} .margin30 {margin:30px}

.marginleft1 {margin-left:1px} .marginleft2 {margin-left:2px} .marginleft3 {margin-left:3px} .marginleft4 {margin-left:4px} .marginleft5 {margin-left:5px} .marginleft6 {margin-left:6px} .marginleft7 {margin-left:7px} .marginleft8 {margin-left:8px} .marginleft9 {margin-left:9px} .marginleft10 {margin-left:10px} .marginleft15 {margin-left:15px}.marginleft20 {margin-left:20px} .marginleft25 {margin-left:25px} .marginleft30 {margin-left:30px} 

.marginright1 {margin-right:1px} .marginright2 {margin-right:2px} .marginright3 {margin-right:3px} .marginright4 {margin-right:4px} .marginright5 {margin-right:5px} .marginright6 {margin-right:6px} .marginright7 {margin-right:7px} .marginright8 {margin-right:8px} .marginright9 {margin-right:9px} .marginright10 {margin-right:10px} .marginright15 {margin-right:15px}.marginright20 {margin-right:20px} .marginright25 {margin-right:25px} .marginright30 {margin-right:30px} 

.margintop1 {margin-top:1px} .margintop2 {margin-top:2px} .margintop3 {margin-top:3px} .margintop4 {margin-top:4px} .margintop5 {margin-top:5px} .margintop6 {margin-top:6px} .margintop7 {margin-top:7px} .margintop8 {margin-top:8px} .margintop9 {margin-top:9px} .margintop10 {margin-top:10px} .margintop15 {margin-top:15px}.margintop20 {margin-top:20px} .margintop25 {margin-top:25px} .margintop30 {margin-top:30px} .margintop35 {margin-top:35px} .margintop40 {margin-top:40px} .margintop45 {margin-top:45px} .margintop50 {margin-top:50px} .margintop55 {margin-top:55px} .margintop60 {margin-top:60px} 

.marginbottom01 {margin-bottom:-1px} .marginbottom02 {margin-bottom:-2px} .marginbottom1 {margin-bottom:1px} .marginbottom2 {margin-bottom:2px} .marginbottom3 {margin-bottom:3px} .marginbottom4 {margin-bottom:4px} .marginbottom5 {margin-bottom:5px} .marginbottom6 {margin-bottom:6px} .marginbottom7 {margin-bottom:7px} .marginbottom8 {margin-bottom:8px} .marginbottom9 {margin-bottom:9px} .marginbottom10 {margin-bottom:10px} .marginbottom15 {margin-bottom:15px} .marginbottom20 {margin-bottom:20px} .marginbottom25 {margin-bottom:25px} .marginbottom30 {margin-bottom:30px} 

.marginauto {
	margin:0 auto;
}
 .mediumSmallOnly { display: none }
.smallOnly {
	display: none;
}

 .opacity10 {opacity:.10} .opacity20 {opacity:.20} .opacity30 {opacity:.30} .opacity40 {opacity:.40} .opacity50 {opacity:.50}  .opacity60 {opacity:.60}  .opacity70 {opacity:.70}  .opacity80 {opacity:.80}  .opacity90 {opacity:.90} 
 
.textpoint1pt9em {font-size:1.9em;}  .textpoint1pt8em {font-size:1.9em;}  .textpoint1pt7em {font-size:1.7em;}  .textpoint1pt6em {font-size:1.6em;}  .textpoint1pt5em {font-size:1.5em;}  .textpoint1pt4em {font-size:1.4em;}  .textpoint1pt3em {font-size:1.3em;}  .textpoint1pt2em {font-size:1.2em;}  .textpoint1pt15em {font-size:1.15em;} .textpoint1pt1em {font-size:1.1em;} .textpoint9em {font-size:0.9em;} .textpoint8em {font-size:0.8em;}  .textpoint7em {font-size:0.7em;}  .textpoint6em {font-size:0.6em;}  .textpoint5em {font-size:0.5em;}

.textpoint5ptrem {font-size:5.0rem;} .textpoint4pt5rem {font-size:4.5rem;} .textpoint4ptrem {font-size:4.0rem;} .textpoint3pt5rem {font-size:3.5rem;} .textpoint3ptrem {font-size:3.0rem;} .textpoint2pt5rem {font-size:2.5rem;} .textpoint2ptrem {font-size:2.0rem;}  .textpoint1pt9rem {font-size:1.9rem;}  .textpoint1pt8rem {font-size:1.9rem;}  .textpoint1pt7rem {font-size:1.7rem;}  .textpoint1pt6rem {font-size:1.6rem;}  .textpoint1pt5rem {font-size:1.5rem;}  .textpoint1pt4rem {font-size:1.4rem;}  .textpoint1pt3rem {font-size:1.3rem;}  .textpoint1pt2rem {font-size:1.2rem;}  .textpoint1pt15rem {font-size:1.15rem;} .textpoint1pt1rem {font-size:1.1rem;} .textpoint1pt05rem {font-size:1.05rem;}  .textpoint1ptrem {font-size:1.0rem;} .textpoint95rem {font-size:0.95rem;} .textpoint9rem {font-size:0.9rem;} .textpoint85rem {font-size:0.85rem;} .textpoint8rem {font-size:0.8rem;} .textpoint75rem {font-size:0.75rem;} .textpoint7rem {font-size:0.7rem;}  .textpoint6rem {font-size:0.6rem;}  .textpoint5rem {font-size:0.5rem;}  .textpoint4rem {font-size:0.4rem;}  .textpoint3rem {font-size:0.3rem;}  .textpoint2rem {font-size:0.2rem;}  .textpoint1rem {font-size:0.1rem;}

.height100pc { height:100%; } .height90pc { height:90%; } .height85pc { height:85%; } .height80pc { height:80%; } .height70pc { height:70%; } .height60pc { height:60%; } .height50pc { height:50%; } .height10 {height:10px} .height20 {height:20px} .height30 {height:30px} .height40 {height:40px} .height50 {height:50px} .height60 {height:60px} .height70 {height:70px} .height80 {height:20px} .height90 {height:90px} .height100 {height:100px} 
 
 .width1 {width:1px;} .width40 {width:40px} .width50 {width:50px} .width60 {width:60px}  .width70 {width:70px}  .width80 {width:80px}  .width90 {width:90px}  .width100 {width:100px}  .width110 {width:110px}  .width120 {width:120px}  .width130 {width:130px}  .width140 {width:140px}  .width150 {width:150px}  .width160 {width:160px}  .width180 {width:180px}  .width190 {width:190px}  .width200 {width:200px}  .width210 {width:210px} .width98 {width:98%;}
 
.width100max100 { width:100%; max-width:100px } .width100max200 { width:100%; max-width:200px } .width100max300 { width:100%; max-width:300px } .width100max400 { width:100%; max-width:400px } .width100max500 { width:100%; max-width:500px } .width100max600 { width:100%; max-width:600px } .width100max700 { width:100%; max-width:700px } .width100max800 { width:100%; max-width:800px } .width100max900 { width:100%; max-width:900px } .width100max1000 { width:100%; max-width:1000px } .width100max1100 { width:100%; max-width:1100px } .width100max1200 { width:100%; max-width:1200px } .width100max1300 { width:100%; max-width:1300px } .width100max1400 { width:100%; max-width:1400px } .width100max1500 { width:100%; max-width:1500px } .width100max1600 { width:100%; max-width:1600px } 

.width98max1100 { width:98%; max-width:1100px }
.widthauto { width:auto }

.widthautomax1100 { width:auto; max-width:1100px; } .widthautomax1200 { width:auto; max-width:1200px; } .widthautomax1300 { width:auto; max-width:1300px; } .widthautomax1400 { width:auto; max-width:1400px; } .widthautomax1500 { width:auto; max-width:1500px; } .widthautomax1600 { width:auto; max-width:1600px; } .widthautomax1700 { width:auto; max-width:1700px; } .widthautomax1800 { width:auto; max-width:1800px; } .widthautomax1900 { width:auto; max-width:1900px; } .widthautomax2000 { width:auto; max-width:2000px; }

.autoleftright { margin-left:auto; margin-right:auto }

.width10pc { width:10%} .width20pc { width:20%} .width23pc { width:23%} .width24pc { width:24%} .width25pc { width:25%} .width30pc { width:30%} .width32pc { width:32% } .width33pc { width:33% } .width34pc { width:34%} .width40pc { width:40%} .width50pc { width:50%}.width60pc { width:60%} .width70pc { width:70%} .width75pc { width:75%} .width80pc { width:80%} .width90pc { width:90%} .width100pc { width:100%} 

.borderradius1 { border-radius: 1px } .borderradius2 { border-radius: 2px } .borderradius3 { border-radius: 3px } .borderradius4 { border-radius: 4px } .borderradius5 { border-radius: 5px } .borderradius6 { border-radius: 6px } .borderradius7 { border-radius: 7px } .borderradius8 { border-radius: 8px } .borderradius9 { border-radius: 9px } .borderradius10 { border-radius: 10px }

.width25-100pc {width:25% !important;} .width30-100pc {width:30% !important;} .width40-100pc {width:40% !important;} .width50-100pc {width:50% !important;} .width60-100pc {width:60% !important;} .width70-100pc {width:70% !important;} .width75-100pc {width:75% !important;}

.imgAutoRight {
	float: right; padding: 0 0 10px 15px; max-width:50% !important; height:auto !important; display: block !important; margin: 5px 0 5px 0 !important;
}

.imgAutoLeft {
	float: left; padding: 0 15px 10px 0; max-width:50% !important; height:auto !important; display: block !important; margin: 5px 0 5px 0 !important;
}
@-moz-document url-prefix() {  
  .imgAutoLeft {   
    float: left; padding: 0 15px 10px 0; max-width:50% !important; height:auto !important; display: block !important; margin: 5px 0 5px 0 !important;
  }
}

.imgAuto img {
	max-width:100% !important; height:auto !important; width:auto !important; display: block !important; margin: 5px 0 5px 0 !important;
}
@-moz-document url-prefix() {  
  .imgAuto img {   
    width: 100% !important;   
  }
}

.bordergreen {  border: 2px dotted green } .bordergrey {  border: 2px dotted grey } .borderorange {  border: 2px dotted orange }

.textwrap {
	padding-top: 0.8rem;
}
.height1 {  height:1px }
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}
.twocelltableleft {
	padding:10px;
	vertical-align: middle;
	max-width:200px;
	text-align:right;
}
td.twocelltableleft {
	text-align:right !important;
}
.twocelltableleft img {
	max-width:100% !important; height:auto !important; width:auto !important;
}
@-moz-document url-prefix() {  
  .twocelltableleft img {   
    width: 100% !important;
  }
}
.twocelltableright {
	padding:10px !important;
	vertical-align: middle;
	max-width:600px;
	text-align: left;
}

.alignleft { text-align:left;}
.alignright { text-align:right;}
.aligncenter { text-align:center;}

.displayblock {
	display:block;
}
.displayinline {
	display:inline;
}
.displayinlineblock {
	display:inline-block;
}


.firstHeader {
	display: none;
	visibility: hidden;
}
.visHeader {
	font-size: 10px;
	font-weight: normal;
}
.socialHeader {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 0px 4px 0px;
}
.socialIcons {
	display:inline-block;
	width:auto;
	height:auto;
	padding: 5px;
	line-height: 0;
}
.socialIcons a {
	cursor: pointer;
}
.socialIcons a:hover {
	background-color: transparent;
}
.socialIcons2 {
	display:inline-block;
	width:auto;
	height:auto;
	padding: 2px;
}
.socialIcons2 a {
	cursor: pointer;
}
.socialIconsMobile {
	width:auto;
	height:auto;
	padding: 5px;
}
.socialIconsMobile a {
	cursor: pointer;
}
.socialIconsMobile a:hover {
	background-color: transparent;
}
.socialIconsMobile img {
	width:32px;
	height:32px;
}
.socialIconsMobileNew {
	width:40px;
	text-align: center;
	height:auto;
	padding: 5px 0 0 0;
}
.socialIconsMobileNew a {
	cursor: pointer;
}
.socialIconsMobileNew a:hover {
	background-color: transparent;
}
.socialIconsMobileNew img {
	width:22px;
	height:22px;
}
#overlay {
	position:fixed; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index:1000000;

}

#modalOverlay {
	position:fixed; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index:1000000;
}
#modal {
	position:absolute;
	background:url(/art_shared/tint20.png) 0 0 repeat;
	background:rgba(0,0,0,0.2);
	border-radius:14px;
	padding:8px;
	z-index:1000003
}
#content {
	border-radius:8px;
	background:#fff;
	padding:20px;
	z-index:1000004
}
#close {
	position:absolute;
	background:url(/art_shared/close.png) 0 0 no-repeat;
	width:24px;
	height:27px;
	display:block;
	text-indent:-9999px;
	top:-7px;
	right:-7px;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	xmax-height: 515px !important;
	overflow: none;
	xmax-width: 900px !important;
	margin: 0 auto 0;
		}
.embed-container iframe, p.embed-container object, .embed-container embed { 
	position: absolute;
	top: 0;left: 0;
	width: 100%;
  width: auto
  margin 0 auto;
	xmax-width: 900px !important;
	height: 100%;
	xmax-height: 515px !important;
}
.embed-container:after {
  clear: both;
  content:" ";
  display:block;
}
.width100max1100 {
	width:100%; max-width:1100px;
}

navhome > div.container {
	display: none;
	padding: 80px 0 0 0;
	width:100%;
	text-align: left;
	position: fixed;
	left:0;
	top:0;
	height:100%;
	margin:0;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0,0,0,0.8);
	z-index:122222222244444; 
}
navhome ul {
	margin: 0 auto;
	width: 100%;
}
navhome li {
	display: block;
	list-style: none;
	clear: both;
	font-size: 1em;
	padding: 2px;
	line-height: 2.0em;
	width:80%;
}
navhome > div > div > ul > li:last-of-type {
	border-bottom: none;
}
navhome > div > div > ul > li {
	border-bottom: 1px rgba(255,255,255, 0.4) solid;
	margin: 0 3em 0 0;
}
navhome > div > div > ul > li a:link, navhome > div > div > ul > li a:visited {
	color: #ffffff;
	opacity: .7;
}
navhome > div > div > ul > li a:link, navhome > div > div > ul > li a:visited {
	color: #ffffff;
	opacity: 1.0;
}
navhome > div > div > ul > li > ul{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
navhome > div > div > ul > li > ul > li a:link, navhome > div > div > ul > li > ul > li a:visited{
	color: #ffffff;
	opacity: 1.0;
}
navhome > div > div > ul > li a:not(:only-child):link, navhome > div > div > ul > li > ul + a:not(:only-child):visited {
	color:#ffffff;
	opacity: 0.7;
}
.montrealLinks {
	padding: 8px 1px 8px  5px;
}

.twoColumns {
	width:100%;
	margin:0 auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  
}
.threeColumns {
	width:100%;
	margin:0 auto;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  
}
.fourColumns {
	width:100%;
	margin:0 auto;	
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
}

.twoColumns img, .threeColumns img, .fourColumns img {
	max-width: 100%;
	height: auto;
}
.contentSpan { 
	display: block;
	max-width: 100%; 
	word-wrap: break-word;
	overflow-wrap: break-word; 
}
.contentSpan table { 
	 table-layout: fixed !important; max-width: 100% !important;
}
.contentSpan td { 
	 width: auto !important;
}
.contentSpan img {
	max-width:100% !important; height: auto !important;
}


@media screen and (min-width: 1000px){
	.minWidth850 {
		max-width: 1100px !important;
		min-width: 850px !important;
		width: 100% !important;
	}
	.minWidth800 {
		max-width: 1100px !important;
		min-width: 800px !important;
		width: 100% !important;
	}
}
@media screen and (max-width: 1023px) {
	.socialIconsMobile img {
		width:18px;
		height:18px;
	}
	.largeOnly {
		display: none; 
	}
	.mediumSmallOnly {
		display: inline;
	}
}
@media screen and (max-width: 640px) {
	.socialIconsMobile img {
		width:17px;
		height:17px;
	}
	.width25-100pc {width:96% !important; float: left !important;} .width30-100pc {width:96% !important; float: left !important;} .width40-100pc {width:96% !important; float: left !important;} .width50-100pc {width:96% !important; float: left !important;} .width60-100pc {width:96% !important; float: left !important;} .width70-100pc {width:96% !important; float: left !important;} .width75-100pc {width:96% !important; float: left !important;}
	.imgAutoLeft {
		float:none !important; padding: 0 0 10px 0;  max-width:100% !important;
	}
	@-moz-document url-prefix() {  
	  .imgAutoLeft {   
		float:none !important; padding: 0 0 10px 0; max-width:100% !important; width:100% !important;
	  }
	}
	.imgAutoRight {
		float:none !important; padding: 0 0 10px 0;  max-width:100% !important;
	}
	@-moz-document url-prefix() {  
	  .imgAutoRight {   
		float:none !important; padding: 0 0 10px 0; max-width:100% !important; width:100% !important;
	  }
	}
	.twocelltableleft {
		padding:10px;
		vertical-align: middle;
		max-width:150px;
		text-align: right;
	}
	.twocelltableright {
		font-size: 0.8em;
	}
	.smallOnly {
		display: inline;
	}
	.mediumLargeOnly {
		display: none;
	}
	.largeMediumOnly {
		display: none; 
	}
}
@media screen and (max-width: 480px) {
	.twocelltableleft {
		padding:10px;
		vertical-align: middle;
		max-width:120px;
		text-align: right;
	}
	.twocelltableright {
		font-size: 0.75em;
	}
	.nosmall {  display:none }
}

@media only screen and (max-width:375px) {
	.contentSpan table, .contentSpan thead, .contentSpan tbody, .contentSpan th, .contentSpan td, .contentSpan tr { 
		 display: block; width: 100% !important;
	}
	.contentSpan td { 
		 border: none;
		 position: relative;
		 margin: 0 auto;
		 width: 98% !important;
	}
	.contentSpan td:first-of-type, .contentSpan td:last-of-type{
		 padding: inherit 5px;
	}
	.contentSpan td img {
		 max-width:99% !important; height: auto !important;
	}

}