<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Making Choice</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/css/ie8.css" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale =1;, maximum-scale = 1, user-scalable = no">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
function getXMLhttp(){
	var xmlhttp;
		if (window.XMLHttpRequest) { // 모질라, 사파리등 그외 브라우저, ...
		    xmlhttp = new XMLHttpRequest();
		} else if (window.ActiveXObject) { // IE 8 이상
			try {
				httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
			}
			catch(e){
				try{
					httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
				}
				catch (e) {}
			}
		}
	return xmlhttp;
}
function jobOnClick(jobnum)
{
	try{
    var xmlhttp = getXMLhttp();
		xmlhttp.onreadystatechange = function() {
			// if (xmlhttp.readyState == 4) {
			// 	if(xmlhttp.status == 200){
			// 		var result = xmlhttp.responseText;
			// 	}
			// }
		};
		xmlhttp.open("GET",'/userPoint?mode=3&user=<%=user%>&jobnum='+jobnum,true);//+"&r="+Math.random()
		xmlhttp.send(null);
	} catch(e)
	{
		alert(e);
	}
}
</script>


	</head>
	<body scroll="no" style=" overflow: hidden;">
		<nav class="navbar navbar-inverse" style="position: fixed; width: 100%; z-index: 9999">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		    <li><a href="#">Please chicoe a job between two suggested options!</a></li>
		    </ul>
		  </div>
		</nav>
		<!-- Header -->
			<section id="header">
				<header>
					<h1>Job Finding</h1>
					<p>By MAKING CHOICE</p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">START NOW!</a>
				</footer>
			</section>

		<!-- Banner -->
			<section id="banner" style="height: 100vh; padding-top: 300px;"> <!-- 여기가 사이즈-->
				<header>
					<h1>READ ME</h1>
				</header>
				<p>지금부터 여러분은 10번의 직업 선택 기회가 주어집니다.  </p>
				<p>2개의 직업 중 자신이 더 선호하는 직업을 선택해주세요!</p>
				<p>이 데이터를 기반으로 <strong class="middeltext">JopShopper</strong>는 <strong class="middeltext">Machine Learning</strong> 기반의</p>
				<p>분석알고리즘으로 정확한 직업추천을 해드립니다.</p>
				<footer>
					<a href="#first" class="button style2 scrolly-middle">Next Process</a>
				</footer>
			</section>

		<!-- Feature 1 -->
		<div id="first" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#second" class="scrolly-middle" onclick="jobOnClick(50)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/CEO.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">최고경영자(CEO)</h2><br>
						<p class="whitebox">
							최고경영자는 어느 회사, 단체, 정부 부서의 총체적인 경영을 책임지는 가장 높은 위치에 있는 경자를 말한다. 최고경영자 조직에 대한 책임을 수행하는데 조력할 수 있는 사람을 포함해서 다른 관리자를 지명한다. 최고경영자는 최고경영자와 회장 두 직위에 대한 책임이 결합되어 있으면 겸직할 수 있다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#second" class="scrolly-middle" onclick="jobOnClick(28)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/foodstylist.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">푸드스타일리스트</h4><br>
						<p class="whitebox">
							푸드스타일리스트는 영화, 드라마, 광고 등에 내보낼 음식 관련 장면을 연출하며, 레스토랑의 새로운 메뉴를 개발하거나 요리책이나 잡지 요리코너에 소개할 요리 개발 및 조리법을 작성하는 등의 일을 담당한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 2 -->
		<div id="second" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#third" class="scrolly-middle" onclick="jobOnClick(34)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/semiconductor_engineer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">반도체 엔지니어</h4><br>
						<p class="whitebox">
							반도체 엔지니어는 반도체 시장 및 고객의 요구에 적합한 반도체 집적회로를 제조하기 위해 설계도면을 개발하는 사람이다. 반도체집적회로를 설계하고, 디지털 및 아날로그 회로설계 및 회로도면 작성을 주 임무로 맡으며, 회사 및 직책에 따라 제작한 회로의 검증 및 분석 평가하기도 한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white; ">
				<a href="#third" class="scrolly-middle" onclick="jobOnClick(66)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Intelligent_Transport_System_Expert.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">지능형 교통 시스템 전문가</h2><br>
						<p class="whitebox">
							지능형 교통 시스템은 인공지능을 활용해 과속차량을 자동으로 단속하며, 고속도로 등에서 자동으로 요금을 징수하는 등, 교통 소통을 원활하게 하기 위한 교통정보시스템을 말한다. 지능형 교통 시스템 전문가는 지능형 교통 시스템을 구축하고 운영하기 위한 여러가지 일들을 한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 3 -->
		<div id="third" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#forth" class="scrolly-middle" onclick="jobOnClick(69)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Game_Planner.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">게임기획자</h2><br>
						<p class="whitebox">
							게임기획자는 PC 게임, 네트워크 게임 등 게임용 소프트웨어 제작과 관련된 모든 사항들을 총광적으로 지휘하고 감독하는 일을 담당한다. 게임 시장 조사 등을 통해 소비자들이 좋아하고 원하는 게임이 무엇인지를 파악하고, 새로운 게임 제작을 위한 아이디어를 구상하여 이에 대한 기획안을 작성한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#forth" class="scrolly-middle" onclick="jobOnClick(58)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Accountant.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">회계사</h2><br>
						<p class="whitebox">
							회계사는 개인이나 기업, 공공시설, 정부기관 등의 경영상태, 재무상태, 지급능력 등의 다양한 재무보고와 관련하여 상담을 해주거나 관련서류를 작성한다. 대상 기업에서 작성한 재무제표가 적절한지 감사하고, 감사 보고서를 작성한다. 기업이 회계와 결산 업무가 바르게 행해지도록 재무제표를 작성하고, 전표와 장부의 정비 및 개선에 대해 지도하는 회계 업무를 수행한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 4 -->
		<div id="forth" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#fifth" class="scrolly-middle" onclick="jobOnClick(25)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Fashion_Designer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">패션 디자이너</h2><br>
						<p class="whitebox">
							패션디자이너는 직물, 가죽, 비닐 등 여러 가지 소재로 남성복, 여성복, 아동복, 란제리 등의 옷을 디자인한다. 통상 시즌이 시작되기 6개월 전부터 해외의 패션 흐름 등을 분석하고, 유행경향, 재료, 색의 조화 등에 관한 자료를 종합적으로 비교, 분석하여 새로운 의상디자인을 기획한다. 기획된 모든 자료를 기초로 디자인을 설계하고 샘플제작서를 작성하며, 소비자의 성별과 연령에 맞는 새로운 디자인을 도식화(일러스트화)한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#fifth" class="scrolly-middle" onclick="jobOnClick(49)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Aircraft_Mechanic.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">항공정비사</h2><br>
						<p class="whitebox">
							항공정비사는 항공기의 매 비행시 혹은 중간점검시마다 기체 점검을 실시하여 운항에 아무런 지장이 없다는 것을 승인하는 업무를 수행하며 공장정비사는 항공기의 정비에 사용되는 주요 장비품을 점검하고 장착되어도 아무런 지장이 없다는 것을 승인하는 업무를 수행한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 5 -->
		<div id="fifth" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#sixth" class="scrolly-middle" onclick="jobOnClick(68)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Virtual_Reality_Expert.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">가상현실 전문가</h2><br>
						<p class="whitebox">
							가상현실전문가는 3차원모델링(3D) 및 가상현실모델링언어(VRML) 등의 기술을 이용해 가상의 시공간에서 가상시스템을 개발한다. 사용자가 원하는 가상세계가 무엇인지 파악하거나 개발하고자 하는 시스템을 분석하여 개발방향을 설정한다. 신제품에 대한 기획안을 토대로 3차원 컴퓨터그래픽 제어기술을 활용하여 프로그래밍 한 후 디자인 감각을 가지고 사용자가 실제의 느낌을 가질 수 있도록 가상현실시스템을 디자인한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#sixth" class="scrolly-middle" onclick="jobOnClick(55)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Diplomat.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">외교관</h2><br>
						<p class="whitebox">
							외교관은 본국을 대표하여 외국에 파견되어 외국과의 교섭을 통해 정치, 경제, 상업적 이익을 보호, 증진을 추구하며, 해외동포와 해외여행을 하는 자국민을 보호한다. 부임한 나라의 정치적 사건과 상황을 본국에 보고하며, 경제통상정보, 생활정보 등을 수집, 분석하여 본국의 정부나 기업에 알린다. 본국을 대신해 본국의 이익과 정책을 옹호하는 교섭을 하고, 본국의 전통 및 문화를 알리는 문화홍보활동을 한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 6 -->
		<div id="sixth" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#seventh" class="scrolly-middle" onclick="jobOnClick(2)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/AdvertisementD.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">광고디자이너</h2><br>
						<p class="whitebox">
							광고디자이너는 텔레비전, 잡지, 신문, 라디오, 포스터 등의 영상이나 인쇄매체의 광고 화면을 구성하고 필요한 그림과 이미지를 디자인한다. 제품이나 서비스 등 광고할 대상의 특성 및 소비자의 유형, 시장동향 등 대상물에 영향을 줄 수 있는 요인을 분석한다. 상품에 대한 광고 의뢰가 들어오면 의뢰인과의 협의 또는 회의를 거쳐 상품의 광고 방향을 설정한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#seventh" class="scrolly-middle" onclick="jobOnClick(59)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/LED_Product_Developer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">LED 조명 개발자</h2><br>
						<p class="whitebox">
							엘이디(LED)조명 대한 기술동향 조사 및 개발업체 탐색 등을 통해 개발계획을 수립하고 세부 기술과제를 검토하여 개발이 필요한 기술을 선정한다. 조명생산을 위한 설계기술과 양산기술 및 발열, 전원관리 등의 관련기술을 연구·개발한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 7 -->
		<div id="seventh" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#eightth" class="scrolly-middle"  onclick="jobOnClick(41)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Car_Engineer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">자동차 엔지니어</h2><br>
						<p class="whitebox">
							자동차공학기술자는 각종 차량의 차체, 엔진, 제동장치, 및 기타 구성품에 관하여 개발 및 제조를 계획, 감독한다. 자동차의 기계, 전기, 유압장비 및 기관에 대한 새로운 디자인을 개발하기 위하여 관련자료를 검토 분석한다. 운전의 안정성, 경제성과 배기량의 조절 및 제반 조작상의 성능을 고려하여 구성부품 및 기관을 설계하고, 공학기술상의 설계와 일치의 여부를 확인하기 위하여 부품, 차량의 제조, 개조, 수리작업을 감독, 조정한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#eightth" class="scrolly-middle"  onclick="jobOnClick(64)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Electironic_Bicycle_Engineer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">전기 자전거 엔지니어</h2><br>
						<p class="whitebox">
							전기자전거의 납축전지의 전압을 최적상태로 유지할 수 있는 장비를 연구, 개발한다. 과충전으로 인한 축전지 사고가 발생하지 않도록 납축전지에 타이머를 부착하는 등의 연구 및 개발을 한다. 전기자전거의 납산 축전지의 수명을 연장한 기술적인 메커니즘을 규명하고 장비에 적용한다. 제품의 다양한 기능을 과학적 수치로 계산하여 제품의 안정성을 증명한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 8 -->
		<div id="eightth" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#ninth" class="scrolly-middle" onclick="jobOnClick(54)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Analyst.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">애널리스트(분석가)</h2><br>
						<p class="whitebox">
							국내외 경제상황 및 산업·기업별 정보를 수집하고 분석한다. 환경변화에 따른 해당 산업을 전망한다. 산업전망에 따라 주식 및 파생상품 시장의 관계를 분석하고 전반적인 동향을 분석한다. 개별 기업들의 영업환경 및 주요 자금운용계획, 재무분석 등을 통해 향후 수익 및 주가를 전망한다. 저평가된 기업들의 적정주가를 다양한 평가방법으로 재산정한다. 종목별 또는 상품별 매매가와 거래량 등의 추이 및 시황을 분석하여 주식 및 파생상품 투자전략을 수립한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#ninth" class="scrolly-middle" onclick="jobOnClick(61)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Satelite_Developer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">반도체 엔지니어</h2><br>
						<p class="whitebox">
							 반도체공학기술자는 냉장고, 텔레비전, 세탁기 등의 가전제품과 의료기기, 컴퓨터, 휴대폰 등 전자제품에 사용되는 반도체의 기술적 성능을 개선하거나 새로운 기능과 성능을 가춘(갖춘) 반도체를 개발한다. 반도체에 대한 전반적인 기술적 지식을 활용하여 반도체의 제조, 조립을 위한 공정별 최적조건(온도, 압력, 시간, 사용량, 처리방법 등)을 설정한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 9 -->
		<div id="ninth" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="#tenth" class="scrolly-middle" onclick="jobOnClick(73)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/AI_Expert.jpg" alt="" onclick=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">인공지능 전문가</h2><br>
						<p class="whitebox">
							프로그래밍 언어에 관한 전문기술을 결합시키고 신경망, 전문가 시스템, 지식베이스시스템, 퍼지이론 등에 관한 연구를 수행한다. 자연어처리, 패턴인식 등과 같은 시각정보처리, 음성정보처리에 관련된 소프트웨어를 연구한다. C, C++, 자바, 델파이, 파워빌더 등을 사용하여 시스템을 개발한다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="#tenth" class="scrolly-middle" onclick="jobOnClick(30)"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Architect.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">건축공학기술자</h2><br>
						<p class="whitebox">
							건축공학기술자는 건축물의 공사에 대하여 전체적인 관리와 감독을 하고 구조를 설계하거나 기타 시공에 관련된 기술적 자문을 한다. 공사 기간이나 시공 방법, 건설기능공 및 인부 등의 투입 인력의 규모, 건설기계 및 건설자재 투입량 등의 세부공정을 수립하고 시행한다. 이외에도 건축물에 대한 구조설계를 하거나 건축 구조물에 대한 구조계산 및 시공에 관한 일을 한다. 공사가 설계에 따라 제대로 진행되고 있는지 감독하고 현장관리를 한다.
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Feature 10 -->
		<div id="tenth" class="bigdiv">
			<div class="middiv" style="background-color: white;">
				<a href="/list?user=<%=user%>" class="scrolly-middle"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Application_Developer.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">모바일 앱 개발자</h4><br>
						<p class="whitebox">
							 모바일 앱 개발자는 대개 모바일 앱을 프로그래밍하는 프로그래머를 가리킨다. 기획자가 앱에 대한 기획안을 짜 놓으면, 개발자는 기획자와 머리를 맞대고 구체화에 들어간다. 디자이너의 도움을 받아 모바일 앱을 완성시키는 것도, QA(Quality Assurance·품질보증) 담당직원이 발견한 오류를 수정하는 것도 개발자를 중심으로 이뤄진다. 그러나 업무가 정확히 나눠진 회사에서 앱을 만드는 경우가 아니면, 앱 개발자는 기획·디자인·오류 수정을 스스로 도맡아 할 수도 있다.
						</p>
					</div>
				</a>

			</div>
			<div class="middiv" style="background-color: white;">
				<a href="/list?user=<%=user%>" class="scrolly-middle"><img class="middivimg" src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/img/Art_Supervisor.jpg" alt=""/>
					<div class="middivtext">
						<h4 style="text-decoration: underline; font-weight: bold;">미술감독</h4><br>
						<p class="whitebox">
							시나리오를 분석하여 전체적인 영화의 흐름이나 분위기에 대하여 영화감독과 협의한다. 영화분위기에 맞는 이미지를 그림이나 사진, 스케치 등으로 구체화시켜 미술 전반의 콘셉트를 구상한다. 촬영장소를 방문하여 각 장면의 배경이 되는 산이나 바다, 건물 등의 지역 또는 장소를 선정한다. 영화 세트를 설치하기 위해 무대디자이너와 설치계획을 협의하고, 분장, 의상, 소품 등 각 분야별 팀원들과의 협의를 통해 구체적인 제작방향 및 계획을 논의한다.
						</p>
					</div>
				</a>
			</div>
		</div>

		<!-- Scripts -->
			<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/jquery.min.js"></script>
			<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/jquery.poptrox.min.js"></script>
			<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/skel.min.js"></script>
			<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="https://storage.googleapis.com/jobshopper-test1.appspot.com/public/assets/js/main.js"></script>
			<script type="text/javascript">
				window.onwheel = function(){ return false; }
			</script>
			</body>
</html>
