<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/commonStyle.css" />
        <title>SWLecture</title>
        <script type="text/javascript" src="/js/userform.js"></script>
    </head>
    <body>
        <header> <% include ../partials/header %> </header>
        <div class="commonContainer">
            <h1>SWLecture</h1>
            <form id="create_user" class="users_form" action="/users" method="post" onsubmit="return validationCheck(this)">
                <div class="join_row">
                    <span class="user_box">
                        <input type="text" id="idInput" name="user[idInput]" value="<%=formData?formData.email:""%>" placeholder="Email" class="user_input"/>
                        <label class="user_label">Email</label>
                    </span>
                </div>
                <span id="email_error" class="error_message"><%=emailError?emailError:""%></span>
                <div class="join_row">
                    <span class="user_box">
                        <input type="password" id="pwInput" name="user[pwInput]" value="" class="user_input" placeholder="Password (6자리 이상)"/>
                        <label class="user_label">Password</label>
                    </span>
                </div>
                <span id="password_error" class="error_message"><%=passwordError?passwordError:""%></span>
                <div class="join_row">
                    <span class="user_box">
                        <input type="password" id="pwConfirmInput" name="user[pwConfirmInput]" value=""  class="user_input" placeholder="Password confirmation (6자리 이상)"/>
                        <label class="user_label">Password confirmation</label>
                    </span>
                </div>
                <span id="password_confirmation_error" class="error_message"></span>
                <div class="join_row">
                    <span class="user_box">
                        <input type="text" id="nicknameInput" name="user[nicknameInput]" value="" class="user_input" placeholder="Nickname"/>
                        <label class="user_label">Nickname</label>
                    </span>
                </div>
                <span id="nickname_error" class="error_message"><%=nicknameError?nicknameError:""%></span>
                <br />
                <button type="submit" class="submit_btn">가입하기</button>
            </form>
            <br />
            <a href="javascript:history.back()"><span>되돌아가기</span></a>
        </div>
    	<script type="text/javascript" src="/jquery-1.12.3.js"></script>
    </body>
</html>
