<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/commonStyle.css" />
        <title>SWLecture</title>
        <script type="javascript" src="/js/userform.js"></script>
    </head>
    <body>

	    <header> <% include ../partials/header %> </header>
        <div style="text-align:center;margin-top:60px;">
            <h2>사용자 정보</h2>
            <div class="commonContainer">
                <p class="user_info">
                    Email : <%=user.email%>
                </p>
                <p class="user_info">
                    Nickname : <%=user.nickname%>
                </p>
                <a href="/users/edit"><button class="submit_btn">Edit</button></a>
            </div>
        </div>
    </body>
</html>
