<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/commonStyle.css" />
        <link rel="stylesheet" href="/stylesheets/lectureStyle.css" />
        <title>SWLecture</title>
    </head>
    <body>
	    <header> <% include ../partials/header %> </header>
        <div class="lectureNameContainer">
            C/C++강의<%if(user.nickname=="root"){%><button class="submit_btn" onclick="location.href='/lecture/write'">글 쓰기</button><%}%><br />
        </div>
        <div class="lectureListContainer">
            <div class="lectureListBox">
                <div style="margin:5px 10px">
                    강의 이름 : <div class="lectureListDetail">짱짱 강의 입니다.</div>
                </div>
            </div>
            <div class="lectureListBox">
                <div style="margin:5px 10px">
                    강의 이름 : <div class="lectureListDetail">짱짱 강의 입니다.</div>
                </div>
            </div>
            <div class="lectureListBox">
                <div style="margin:5px 10px">
                    강의 이름 : <div class="lectureListDetail">짱짱 강의 입니다.</div>
                </div>
            </div>
        </div>
    </body>
</html>
