<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/commonStyle.css" />
        <link rel="stylesheet" href="/stylesheets/lectureStyle.css" />
        <title>SWLecture</title>
    </head>
    <body>
	    <header> <% include ../partials/header %> </header>
        <div class="lectureNameContainer">
            C/C++강의<br />
        </div>
        <%if(user.nickname=="root"){%>
            <div style="text-align:center">
                <form id="update_user" class="users_form" action="/lecture/write" method="post">

                    <input type="hidden" id="idInput" name="user[idInput]" value="<%=user.nickname?user.nickname:""%>" placeholder="Email" class="user_input"/>
                    <div class="join_row">
                        <span class="user_box">
                            <input type="password" id="idInput" name="user[currPwInput]" value="" placeholder="현재 Password 입력" class="user_input"/>
                            <label class="user_label">Current Password</label>
                        </span>
                    </div>
                    <div class="join_row">
                        <span class="user_box">
                            <input type="password" id="pwInput" name="user[pwInput]" value="" placeholder="변경할 Password 입력" class="user_input"/>
                            <label class="user_label">Change Password</label>
                        </span>
                    </div>
                    <div class="join_row">
                        <span class="user_box">
                            <input type="password" id="pwConfirmInput" name="user[pwConfirmInput]" value="" placeholder="변경할 Password 재입력" class="user_input"/>
                            <label class="user_label">Change Password confirmation</label>
                        </span>
                    </div>
                    <div class="join_row">
                        <span class="user_box">
                            <input type="text" id="nicknameInput" name="user[nicknameInput]" value="" placeholder="변경할 Nickname 입력" class="user_input"/>
                            <label class="user_label">Nickname</label>
                        </span>
                    </div>
                    <br />
                    <button type="submit" class="submit_btn">글 쓰기</button>
                </form>
            </div>
        <%}%>
    </body>
</html>
