<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/commonStyle.css" />
        <title>SWLecture</title>
    </head>
    <body>
	    <header> <% include ./partials/header %> </header>
        <div class="mainContainer">
        </div>
    </body>
</html>
